.productCard {
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;

  &:before {
    @include topRightChippedCorner;
  }
  &:after {
    @include bottomLeftChippedCorner;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    position: relative;
  }
}