// Colors
$color_red: #7c4c53;
$color_yellow: #f5df4d;
$color_grey: #939597;
$bodyColor: #ffffff;

// Chipped corner effect
$chippedCornerSize: 40px;

// Layout
$headerWidth: 250px;

// Typography
$fontWeight_light: 200;
$fontWeight_regular: 400;
$fontWeight_bold: 600;

$fontFamily_title: 'Roboto Slab', serif;
